@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
h3 {
  margin-top: 19px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(27, 25, 25);
}
span {
  font-weight: 800;
}
footer {
  width: 100%;
  background-color: #1c1b1e;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 4% 8%;
  margin-top: 110px;
  padding-bottom: 54px;
}
#productBrowsingMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navMenu {
  width: 100%;
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 8%;
  box-shadow: 0 2px 5px #ccc;
  height: 82px;
}
#logo {
  font-size: 36px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin-right: 15px;
}
#productSearchinggMenu {
  width: 390px;
}
.pbMenuOption {
  text-decoration: none;
  color: black;
  margin-left: 32px;
  text-transform: uppercase;
  font-weight: 600;
}
#search-wrapper {
  width: 110%;
  max-width: 400px;
  position: relative;
}
#search-wrapper > i {
  position: absolute;
  color: #999;
  font-size: 18px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
#search-box {
  width: 100%;
  border: 1px solid rgb(245, 242, 242);
  background-color: rgb(245, 242, 242);
  box-sizing: border-box;
  padding: 10px 24px 8px 48px;
  color: black;
  outline: none;
}
#userDataMenu {
  display: inline-flex;
  justify-content: end;
  align-items: center;
}
#cart-wrapper {
  position: relative;
  margin-right: 32px;
}
#cart-count {
  width: 18px;
  height: 18px;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  background-color: #009688;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
}
#cart-wrapper > a {
  text-decoration: none;
  color: black;
}
#cart-wrapper i {
  font-size: 18px;
  cursor: pointer;
}
#userDataMenu > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#mainDiv {
  display: flex;
  padding: 2% 8%;
  margin-top: 100px;
  align-items: flex-start;
}
#imageLargeDiv {
  width: 40%;
}
.largeImage {
  width: 100%;
  margin-top: 10px;
  padding-right: 55px;
}
#name {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}
#brand {
  font-weight: 600;
  color: black;
  opacity: 0.6;
  margin: 0;
  margin-top: 8px;
  font-size: 1.5em;
}
#priceHead {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 36px;
  margin-bottom: 0px;
  font-weight: 400;
}
#price {
  max-width: 500px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 600;
  color: #009688;
  margin: 0;
  display: inline-block;
}
.otherHead {
  font-size: 23px;
  color: rgba(70, 33, 33, 0.8);
  margin-top: 45px;
  font-weight: 400;
  margin-bottom: 16px;
}
#description {
  max-width: 500px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
#pp {
  margin-top: 30px;
  margin-bottom: 5px;
}
#smallImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.smallImg {
  margin-right: 15px;
  margin-top: 8px;
  width: 8%;
  height: 100%;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}
.active {
  border: 2px solid #009688;
  width: 7.5%;
  height: 100%;
}
#detailsDiv {
  max-width: 60.3%;
  padding-left: 87px;
  padding-top: 5px;
}
#button {
  width: max-content;
  background-color: #009688;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  margin-top: 36px;
  font: 600 18px Arial;
  color: white;
  transition: transform 200ms;
  transition-timing-function: ease;
}
.bigger {
  transform: scale(1.1, 1.1);
}
#loading {
  width: 100%;
  height: 100vh;
  display: flex;
}
#loading h2 {
  margin: 220px auto;
}
#EPLogo {
  width: 128px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
footer > div:first-of-type {
  padding-left: 0;
}
footer > div {
  padding-left: 60px;
  padding-right: 60px;
}
.footer-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: white;
  opacity: 0.9;
  letter-spacing: 1px;
}
.footer-link {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}
